@font-face {
		font-family: Gotham-Regular;
		src: url("../fonts/Gotham-Medium.otf");
}

@font-face {
		font-family: Minion-Regular;
		src: url("../fonts/MinionPro-Regular.otf");
}

@font-face {
		font-family: Minion-Italic;
		src: url("../fonts/MinionPro-It.otf");
}

html,
body {
		margin: 0;
		padding: 0;
}

body{
		/*background-color: rgb(19, 168, 158);*/
		background-color: white;
		font-family: "Gotham-Regular";
}

.top-image{
		width: 100%;
}

.info-container{
	position: relative;
	top: -20px;
}

@media (max-width: 700px) {
	.info-container{
		top: 0px;
	}
}

@media (min-width: 1400px) {
	.info-container{
		top: -40px;
	}
}

.text-container{
		margin: 30px auto; 
		width: 80%;
}

a{
	display: block;
	text-decoration: none;
	color: rgb(255,37,45);
	text-align: center;
	width: 220px;
	font-size: 1.2em;
	margin: 10px auto;
	border: 2px solid;
	border-radius: 22px;
	padding: 10px 20px;
}

a:hover{
	color: white;
	background-color: rgb(255,37,45);	
}